# Cache files
.DS_Store
__pycache__/
*.py[cod]
*$py.class
.mypy_cache/
.ruff_cache/
.pytest_cache/
.ipynb_checkpoints
~/

# Virtual Environments
.venv*
venv/

# IDEs
.vscode/
.idea/

# Build files
dist/

# Data files
*.gif
*.txt
*.pdf
*.csv
*.json
*.jsonl
*.log
*.bak

# Secrets and sensitive files
secrets.env
.env
browser_cookies.json
cookies.json
gcp-login.json
saved_trajectories/
old_tests/
AgentHistory.json
AgentHistoryList.json
private_example.py
private_example
CLAUDE.local.md

uv.lock
temp
tmp

# Google API credentials
credentials.json
token.json

!docs/docs.json


temp-profile-*

screenshot.png

*.md

all_github_issues_progress.md
all_github_issues.md

data/extensions
data/profiles
data/device_id

1753683755292-30b3431f487b4cc1863e57a81d78e289.sh
docker-compose.yaml
examples/use-cases/ownership_check_array_oaktree.py
