# Cache files
.DS_Store
__pycache__/
*.py[cod]
*$py.class
.mypy_cache/
.ruff_cache
.ipynb_checkpoints

# Build Files
dist/

# Virtual Environments
.venv/
venv/

# Editors
.vscode/
.idea/

# Data files
*.gif
*.txt
*.pdf
*.csv
*.json
*.jsonl

# Secrets and sensitive files
.env
secrets.env
browser_cookies.json
cookies.json
gcp-login.json
saved_trajectories/
AgentHistory.json
AgentHistoryList.json
private_example.py
private_example

# As a library we have to support many peer dependency versions
# on many different setups, therefore we don't ship our own lockfile
uv.lock
